@font-face {
	font-family: brand-regular;
	src: url('https://listsstorage.blob.core.windows.net/productfonts/regular.ttf') format('truetype');
}

@font-face {
	font-family: brand-bold;
	src: url('https://listsstorage.blob.core.windows.net/productfonts/bold.ttf') format('truetype');
}

@font-face {
	font-family: brand-light;
	src: url('https://listsstorage.blob.core.windows.net/productfonts/light.ttf') format('truetype');
}

html {
	font-size: 14.5px;

	@media (max-width: 500px) {
		font-size: 13.5px;
	}

	body {
		font-family: brand-regular;
		color: $primary-text-colour;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: brand-regular;
}

.font-weight-bold {
	font-family: brand-bold;
}

.font-weight-light {
	font-family: brand-light;
}

.display-1 {
	font-size: 3rem;
}

.display-2 {
	font-size: 2rem;
}

.display-3 {
	font-size: 1.5rem;
}

.btn-primary,
.btn-primary:hover {
	background-color: $brand-primary-colour;
	border-color: $brand-primary-colour;
}

.no-select {
	user-select: none;
}

.no-events {
	pointer-events: none;
}

.cursor-pointer {
	cursor: pointer;
}

.bg-glass {
	background: $overlay-colour;
}

.bg-transparent {
	background: $overlay-colour;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease-out;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.animated.animate-fast {
	animation-duration: 0.5s;
}

a {
	color: $primary-text-colour;

	&:hover {
		text-decoration: none;
		color: $primary-text-colour;
	}
}

.loading-container{
	padding: 10px;
}