// Loaded in via vue.config.js

$brand-primary-colour: #db5461;
$brand-primary-highlight-colour: #db5461;
$brand-secondary-colour: #e5b25d;
$brand-secondary-highlight-colour: #e07a5f;
$brand-success-colour: #c0ea67;

$primary-background-colour: white;
$primary-background-highlight-colour: #f9f9f9;
$primary-border-colour: #f2f2f2;

$primary-text-colour: black;
$inverted-text-colour: white;

$overlay-colour: rgba(0, 0, 0, 0.6);

$media-ipad-landscape: 1024px;
$media-ipad-portrait: 768px;
$media-phone-landscape: 412px;